{% extends "base.html" %}
{% load static %}
{% block title %}
    ClassTable
{% endblock %}

{% block ext_header %}
    <link href="{% static 'robot/vendors/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper" style="margin-bottom: 0">
        <div class="m-content">
            <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible" role="alert">
                <div class="m-alert__icon">
                    <i class="flaticon-exclamation m--font-brand"></i>
                </div>
                <div class="m-alert__text">
                    该功能尚未得到充分的测试，对于某些奇怪的课程表可能会产生一些奇怪的问题；如果遇到问题， 请转到
                    <a href="https://github.com/QingQiz/AoxiangRobotWeb">GitHub</a> 提供反馈。
                    <br>
                    建议屏幕比较小的用户直接 export (<s>才不是我懒得适配呢</s>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-portlet" id="m_portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon">
                                                <i class="flaticon-map-location"></i>
                                            </span>
                                    <h3 class="m-portlet__head-text">
                                        Class Table
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <div class="btn-group m-btn-group m-btn--air" role="group" aria-label="Button group with nested dropdown">
                                            <div class="btn-group m-btn-group" role="group">
                                                <button id="btnSelCampus" type="button" class="btn btn-outline-accent m-btn m-btn--custom m-btn--outline-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 100px 0 0 100px" campus="0">
                                                    ChangAn Campus
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnSelCampus" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                    <a class="dropdown-item" href="#" onclick="$('#btnSelCampus').text('ChangAn Campus').attr('campus', 0).change()">
                                                        ChangAn Campus
                                                    </a>
                                                    <a class="dropdown-item" href="#" onclick="$('#btnSelCampus').text('Youyi Campus').attr('campus', 1).change()">
                                                        Youyi Campus
                                                    </a>
                                                </div>
                                            </div>
                                            <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="export_ct" type="button">
                                                        <span>
                                                            <i class="la la-plus"></i>
                                                            <span>
                                                                Export
                                                            </span>
                                                        </span>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div id="m_calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext_js %}
    <script src="{% static 'robot/vendors/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <script src="{% static 'robot/custom/js/class_table/basic.js' %}"></script>
{% endblock %}

