{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    View -- CodeHub
{% endblock %}

{% block user_section %}
{% endblock %}

{% block ext_header %}
    <style>
        @font-face {
            font-family: "DSM";
            src: url("{% static 'dashboard/static/custom/font/DejaVuSansMono.ttf' %}");
        }

        code, code pre {
            font-size: 16px;
            font-family: DSM;
            overflow-x: visible;
            line-height: 20px;
        }

        table {
            border-spacing: 12px 0;
        }

        th {
            text-align: right;
            padding-right: 6px;
            border-right: 2px solid darkgrey;
        }
    </style>
{% endblock %}

{% block ext_js %}
<script>
    $(document).ready(function () {
        $('#input_disp').click();
    });
</script>
{% endblock %}


{% block content %}
    <button type="button" data-toggle="modal" data-target="#m_modal_5" style="display: none;" id="input_disp">
        Launch Modal
    </button>

    <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Authorization Required
                    </h5>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">
                                    Password
                                </label>
                                <input type="password" class="form-control" id="password" placeholder="password" name="password">
                            </div>
                    </div>
                    <div class="modal-footer" style="padding: 13px;">
                        <button type="submit" class="btn btn-primary">
                            Submit!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
