{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    View -- CodeHub
{% endblock %}

{% block user_section %}
{% endblock %}

{% block ext_header %}
    <style>
        @font-face {
            font-family: "DSM";
            src: url("{% static 'dashboard/static/custom/font/DejaVuSansMono.ttf' %}");
        }

        code, code pre {
            font-size: 16px;
            font-family: DSM;
            overflow-x: visible;
            line-height: 20px;
        }

        table {
            border-spacing: 12px 0;
        }

        th {
            text-align: right;
            padding-right: 6px;
            border-right: 2px solid darkgrey;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'CodeHub/css/github.css' %}">
    <script src="{% static 'CodeHub/js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block ext_js %}
    <script src="{% static 'CodeHub/js/lineNumbers2.js' %}"></script>
    <script>
        $('#code_delete_cancel').click(function () {
            $('#remove_code').click()
        });
        $('#code_delete_confirm').click(function () {
            location.replace('{% url 'ch_d' code.id %}')
        });
    </script>
{% endblock %}


{% block content %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <a href="{% url 'ch_list' %}?a={{ code.author }}" class="m-link m--font-boldest">
                            {{ code.author|title }}
                        </a>
                        <small>
                            pasted at {{ code.paste_time|date:"Y-m-d H:i:s" }}
                            <a href="{% url 'ch_raw' code.id %}" class="m-link m--font-bold">
                                <i> raw </i>
                            </a>
                        </small>
                    </h3>
                </div>
            </div>

            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                             m-dropdown-toggle="hover" aria-expanded="true">
                            <a href="#"
                               class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                <i class="la la-ellipsis-h m--font-brand"></i>
                            </a>
                            <div class="m-dropdown__wrapper" style="z-index: 101;">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">
                                                        Quick Actions
                                                    </span>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="{% url 'ch_list' %}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
                                                        <span class="m-nav__link-text">
                                                            Index
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="{% url 'ch_paste' %}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-file"></i>
                                                        <span class="m-nav__link-text">
                                                            Paste Another
                                                        </span>
                                                    </a>
                                                </li>
                                                {% if remove != '' %}
                                                <li class="m-nav__item">
                                                    <a href="#" class="m-nav__link" id="remove_code" data-toggle="modal" data-target="#m_modal_5">
                                                        <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                        <span class="m-nav__link-text">
                                                            Remove
                                                        </span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body blk">
            <pre><code class="{{ code.language }}" id="code"
                       style="background-color: white;">{{ code.code }}</code></pre>
            {{ code.get_language_display }}
        </div>
    </div>
    <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="border-radius: 30px">
                <div class="m-alert m-alert--icon alert alert-warning" role="alert" style="margin: 0; border-radius: 20px">
                    <div class="m-alert__icon">
                        <i class="flaticon-danger"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong> WARNING!! &nbsp; Confirm ?</strong><br>
                        <div class="m-alert__actions" style="width: 200px;">
                            <button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" id="code_delete_confirm" style="margin-right: 15px">
                                Yes
                            </button>
                            <button type="button" class="btn btn-accent btn-sm m-btn m-btn--pill m-btn--wide" id="code_delete_cancel">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
