{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    List All -- CodeHub
{% endblock %}

{% block user_section %}
{% endblock %}

{% block ext_header %}
    <style>
        @font-face {
            font-family: "DSM";
            src: url("{% static 'dashboard/static/custom/font/DejaVuSansMono.ttf' %}");
        }

        span.ch-text {
            {#font-size: 16px !important;#}
            font-family: DSM;
            overflow-x: visible;
            {#line-height: 20px;#}
        }
    </style>
{% endblock %}

{% block ext_js %}
{% endblock %}

{% block content %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <a class="m-link m--font-boldest" href="{% url 'ch_list' %}">
                            Index
                        </a>
                        <small>
                            All The Code is Here
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section__content">
                <div class="m-list-timeline">
                    <div class="m-list-timeline__items">
                        <div class="m-list-timeline__item">
                            <span class="m-list-timeline__badge m-list-timeline__badge--accent"></span>
                            <span class="m-list-timeline__text ch-text">
                                <a href="{% url 'ch_paste' %}" class="m-link m--font-boldest">
                                    <i class="fa flaticon-add m--font-brand"></i>
                                </a>
                            </span>
                            <span class="m-list-timeline__time"> {{ code.paste_time|date:"Y-m-d H:i:s" }}</span>
                        </div>
                        {% for code in codes %}
                            <div class="m-list-timeline__item">
                                <span class="m-list-timeline__badge m-list-timeline__badge--accent"></span>
                                <span class="m-list-timeline__text ch-text">
                                    <a href="{% url 'ch_cv' code.id %}" class="m-link m--font-bold">
                                        {{ code.author|title }}
                                    </a>
                                    {% if code.language != '' %}
                                        <small>
                                            {{ code.language }}
                                        </small>
                                    {% else %}
                                        <small>
                                            auto
                                        </small>
                                    {% endif %}
                                </span>
                                <span class="m-list-timeline__time"> {{ code.paste_time|date:"Y-m-d H:i:s" }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
